::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.headers.td {
    font-style:bold;
}

table, th, td {
    border: 1px solid black;
    padding:5px;
}

.err {
    color:red;
}

button {
    margin: 5px;
}

.cmd {
    font-size: 14px;
    font-style:italic;
    width: 100%;
    font-family: courier, monospace;

}


.inlined {
    width:350px;
    /* height:auto; */
    /* position: relative; */
    float:left;
    border-style: dotted;
    padding:5px;
    margin:10px;
    overflow:auto;
}



.steps {
    padding:5px;
    padding-left:0px;
    margin:10px;
    margin-left:10px;
    /*float:left;*/
    vertical-align:bottom;
}

.explanations {
    float:left;
}


.allowed {
    color:green;
}

.blocked{
    color:red;
    text-decoration: line-through;
}

h2 {
    text-align: center;
}

#commandbox {
    border:1px solid;
    padding:2px;
    margin-bottom:5px;
}

li.message {
    font-size: 14px;
}

textarea {
    font-size: 18px;
    font-style:italic;
    width: 100%;
    /* height: 500px; */
    font-family: courier, monospace;
    border-style: solid;
    border-color: red;
    border-radius: 5px;
}

#protocol {
    /* float:left; */
    /* width:400px; */
    height:150px;
    border-style: solid;
    border-color: black;
    padding:5px
}


.game {
    width:auto;
    /*height:600px;*/
}


.agents {
    padding:5px;
    margin-bottom: 10px;
    height: auto;
    /*max-height:250px;*/
    position:relative;
    overflow-y: hidden;
    overflow-x: auto;
}

.agent, .adversary {
    float:left;
    width:150px;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 5px;
    background-color: white;


    min-height:150px;
    margin:5px;
    margin-bottom: 50px;
    padding:5px;
    margin-right:50px;
    z-index:20;
}

.adversary
 {
    border-color: darkred;
}

.network {
    height:150px;
    margin:30 auto;
    margin-bottom: 50px;
    border-style: solid;
    border-color: lightslategray;
    border-radius: 5px;
}


.agent_content {
    height:90px;
    overflow-y:scroll;

}

svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#centre {
    float:left;
    width:600px;
    height:900px;
    padding:5px
}

.networkbar {
    width: 20px; /*can be in percentage also.*/
    height: 95%;
    float:left;
    /* margin: 0 auto; */
    /* margin-right: 30px; */
    /* padding: 0px; */
    /* position: relative; */
    border-style:solid;
    border-color:grey;
    background:lightgrey;

}


#right {
    float:left;
    width:400px;
    height:900px;
    border-style: solid;
    border-color: red;
    padding:5px
}

#objectives {
    /* float:left; */
    /* width:350px; */
    border-style: solid;
    border-color: orange;
    padding:5px;
    padding-left: 30px;
}

#console {
    padding:5px;
}

#command {
    border-style: solid;
    border-color: white;
    padding:5px;
}

#console_log {
    /* float:right; */
    /* width:300px; */
    border-style: solid;
    border-color: white;
    padding:20px;
    /* padding-top:100px; */
    /* padding-right:100px; */
}


#message_list1{
    height:90px;
    overflow-y:scroll;
    list-style: none;
    margin-left:-25px;
    font-family: Tahoma;

}



#command_list {
    /* width: 100%; */
    text-align: left;
    /* background-color: lightyellow; */
    font-size: 14px;
}

#help {
    float:left;
    width:700px;
    /*border-style: solid;*/
    /*border-color: yellow;*/
    padding:5px;
    font-size:16px;

}

.facts {
    height:40px;
}

.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    margin-bottom: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
